.sliderContainer {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.sliderImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
}